.containerCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.card {
    flex-basis: calc(25% - 20px); /* Imposta la larghezza delle carte al 25% meno 20px per i margini */
    max-width: calc(25% - 20px); /* Imposta una larghezza massima per mantenere le carte piccole */
    margin: 0 15px 40px 15px; /* Margini più ampi tra le carte */
    height: auto;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.card:hover .image {
    filter: brightness(50%) blur(2px);
    opacity: 0.7;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    visibility: hidden;
}

.card:hover .eye-icon {
    visibility: visible;
}

.eye-icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 26.67px); /* Riduci la larghezza delle carte a due per riga su schermi più piccoli */
        max-width: calc(50% - 26.67px); /* Imposta una larghezza massima per mantenere le carte piccole */
    }
}

@media screen and (max-width: 480px) {
    .card {
        flex-basis: calc(100% - 26.67px); /* Una carta per riga su schermi ancora più piccoli */
        max-width: calc(100% - 26.67px); /* Imposta una larghezza massima per mantenere le carte piccole */
    }
}